<h2 class="text-center"> {{ recipe.title }}</h2>
<div class="row" >
  <div class="col-md-3">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Ingredients</h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li class="text-center" ng-repeat="tag in recipe.tags"><a style="color:white;" target="_self" ng-click="triggerSearch($event)">{{ tag }}</a></li>
        </ul>
      </div>
      <div><a href="https://www.google.com/?#q={{ recipe.title }}" target="_blank">Get {{ recipe.title }} Recipe</a></div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Instructions</h3>
      </div>
      <div class="panel-body">
        <div ng-repeat="vid in videos"><iframe style="height: 20em;width: 25em;padding: 2em;" class="col-lg-2 col-md-6 col-sm-12 col-xs-12" src="{{ vid }}" frameborder="0" allowfullscreen></iframe></div>
      </div>
    </div>
  </div>
</div>
