<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Main Banner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4051766271885827"
     data-ad-slot="9875219793"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="col-sm-3 col-xs-6" ng-repeat="recipe in searchResults">
    <a target="_self" ng-click="triggerDetails($event)"><i class="glyphicon glyphicon-cutlery" style="color:white;" title="{{ recipe.title }}" id="{{ recipe._id }}" > </i></a>
    <h5 style="white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;">{{ recipe.title }}</h5>
</div>